{% extends "base.html" %}

<!-- Block Content-->

{% block content %}

<div class="z-1 bg-dark" style="--bs-bg-opacity: 0.7">
  <div class="container">
    <a class="text-decoration-none d-inline-block text-light fs-3 my-2" href="{% url "index" %}"><i class="bi bi-house"></i> Go Back</a>
    <div class="row">
      {% for detail in details %}

      <div class="col-md-8 offset-md-2">
        <a href="{{detail.service.image.url}}"
          ><img
            class="img-fluid"
            src="{{detail.service.image.url}}"
            alt="Image"
        /></a>
      </div>
      <div class="z-2 mt-5 my-5" 
        <p class="text-light z-3 fs-5">{{detail.description|safe}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Block Content-->
  {% endblock content %}
</div>
